:root {
  --font-name-primary: "RobotoMono Nerd Font";
  --text-primary: #e2c5d2;
  --color-widget: #e67d99;
  --text-secondary: rgba(218, 162, 186, 0.5);
  --text-xs: 10px;
  --text-small: 12px;
  --text-normal: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-5xl: 48px;
  --text-6xl: 64px;
  --font-normal: 400;
  --font-bold: 600;
  --font-bold-xl: 900;
  --bg-taskbar: #1d0c13;
  --bg-primary: #1d0c13;
  --bg-secondary: rgba(28, 13, 20, 0.9);
  --bg-transparent: rgba(28, 13, 20, 0.2);
  --bg-hover-primary: rgba(236, 175, 201, 0.2);
  --bg-hover-secondary: rgba(255, 255, 255, 0.1);
  --bg-hover-third: rgba(255, 255, 255, 0.12);
  --bg-hover-fourth: rgba(24, 24, 37, 0.212);
  --color-grey: rgba(128, 130, 158, 0.3);
  --color-dark-grey: hsla(236, 13%, 36%, 0.3);
  --color-light-grey: rgba(186, 187, 202, 0.3);
  --color-yellow: #d1c21c;
  --color-dark-yellow: #5b5516;
  --color-green: #3f925f;
  --color-dark-green: #223a2c;
  --color-light-green: #61ad7e;
  --color-red: #cb3b42;
  --color-dark-red: #5a1e22;
  --color-light-red: #e04c52;
  --color-light-blue: rgb(112, 157, 255);
  --color-dark-blue: rgb(36, 52, 85);
  --radius-normal: 8px;
  --radius-xl: 20px;
  --margin-small: 2px 0;
  --margin-sm: 4px 8px;
  --margin-widget: 2px 0;
  --margin-icon: 0px 2px 0px 2px;
  --padding-normal: 0 4px;
  --padding-icon: 0px 0px 0px 0px;
  --padding-menu: 12px 84px 12px 14px;
  --padding-volume: 12px 14px;
  --padding-button: 4px 8px;
  --padding-tooltip: 12px 24px;
  --xs: 2px;
  --sm: 4px;
  --md: 8px;
  --lg: 12px;
}

* {
  font-size: var(--text-normal);
  color: var(--text-primary);
  font-weight: var(--font-bold);
  font-family: var(--font-name-primary);
  margin: 0;
  padding: 0;
}

/* Context */
.context-menu::item {
  background-color: var(--bg-hover-primary);
  color: var(--color-widget);
}
.context-menu .menu-checkbox:hover {
  background-color: var(--bg-hover-primary);
}

/* General */
.icon {
  font-size: var(--text-normal);
  color: var(--color-widget);
}
.label {
  font-size: var(--text-normal);
  color: var(--color-widget);
}
.yasb-bar {
  padding: var(--padding-normal);
  margin: 0;
  background-color: var(--bg-taskbar);
}
.widget {
  color: var(--color-widget);
  padding-right: var(--md);
  padding-left: var(--sm);
  margin: var(--margin-small);
  border-radius: var(--radius-normal);
}
.widget:hover {
  background-color: var(--bg-hover-primary);
}
.widget .label {
  padding: var(--xs);
  font-family: var(--font-name-primary);
}

/* Tooltip */
.tooltip {
  margin-top: var(--margin-small);
  padding: var(--padding-tooltip);
  background-color: var(--bg-secondary);
  border-radius: var(--radius-normal);
  border: 1px solid var(--color-grey);
  color: var(--text-primary);
  font-size: var(--text-normal);
  font-weight: var(--font-bold);
}

/* Home */
.home-menu {
  background-color: var(--bg-primary);
}
.home-menu .menu-item {
  padding: var(--padding-menu);
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
}
.home-menu .menu-item:hover {
  background-color: var(--bg-hover-primary);
}
.home-menu .separator {
  max-height: 1px;
  background-color: var(--color-grey);
}

/* Weather */
.weather-widget .icon {
  padding-right: var(--sm);
}
.weather-widget .icon.sunnyDay,
.weather-widget .icon.cloudyDay,
.weather-widget .icon.rainyDay,
.weather-widget .icon.snowyDay,
.weather-widget .icon.snowyIcyDay,
.weather-widget .icon.blizzardDay,
.weather-widget .icon.foggyDay,
.weather-widget .icon.thunderstormDay {
  color: var(--color-yellow);
}
.weather-widget .icon.sunnyNight,
.weather-widget .icon.cloudyNight,
.weather-widget .icon.rainyNight,
.weather-widget .icon.snowyNight,
.weather-widget .icon.snowyIcyNight,
.weather-widget .icon.blizzardNight,
.weather-widget .icon.foggyNight,
.weather-widget .icon.thunderstormDay {
  color: var(--color-light-blue);
}
.weather-widget .label.alt {
  font-size: var(--text-xs);
}

/* Weather Card */
.weather-card {
  background-color: var(--bg-transparent);
  color: var(--text-primary);
}
.weather-card-today .label {
  font-size: var(--text-normal);
  color: var(--text-primary);
}
.weather-card-today .label.location {
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
  color: var(--text-primary);
}
.weather-card-today .label.alert {
  color: var(--text-primary);
  font-size: var(--text-normal);
  font-weight: var(--font-bold);
  border: 1px solid rgba(247, 209, 42, 0.1);
  /* color: rgba(196, 181, 162, 0.85); */
  border-radius: var(--radius-normal);
  padding: 5px 0;
}
.weather-card-day {
  border-radius: var(--radius-normal);
}
.weather-card-day.active {
  background-color: var(--bg-hover-secondary);
  border: 1px solid var(--color-grey);
}
.weather-card-day:hover {
  background-color: var(--bg-hover-primary);
}
.weather-card-day .label {
  color: var(--text-primary);
  font-size: var(--text-normal);
}
.weather-card .hourly-container {
  border-radius: var(--radius-normal);
  min-height: 150px;
  background-color: transparent;
}
.weather-card .hourly-data {
  background-color: var(--color-yellow);
  font-size: var(--text-normal);
  font-weight: var(--font-bold);
}

/* Pomodoro */
.pomodoro-menu {
  background-color: var(--bg-transparent);
}
.pomodoro-menu .button {
  padding: var(--padding-button);
}
.pomodoro-menu .button.start {
  background-color: var(--color-dark-green);
}
.pomodoro-menu .button.pause {
  background-color: var(--color-dark-yellow);
}
.pomodoro-menu .button.reset {
  background-color: var(--color-dark-red);
}
.pomodoro-menu .button:hover {
  background-color: var(--bg-hover-primary);
}

/* Clock */
.calendar {
  background-color: var(--bg-primary);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: var(--text-secondary);
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-size: var(--text-lg);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.calendar .calendar-table::item:selected {
  color: var(--text-primary);
  background-color: var(--bg-hover-primary);
  border-radius: var(--radius-normal);
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label,
.calendar .holiday-label {
  font-family: var(--font-name-primary);
  font-size: var(--text-lg);
  min-width: 250px;
  max-width: 270px;
}
.calendar .week-label,
.calendar .holiday-label {
  font-size: var(--text-normal);
  font-weight: var(--font-bold);
  color: var(--text-secondary);
}
.calendar .holiday-label {
  color: var(--text-primary);
  font-weight: var(--font-bold);
}
.calendar .month-label {
  font-weight: normal;
}
.calendar .date-label {
  font-size: 89px;
  font-weight: var(--font-bold-xl);
  margin-top: -12px;
}

/* Volume */
.volume-slider {
  padding: 8px;
}
.audio-menu {
  background-color: var(--bg-primary);
}
.audio-container .device {
  padding: var(--padding-volume);
  font-size: var(--text-normal);
  border: 1px solid transparent;
  border-radius: var(--radius-normal);
}
.audio-container .device.selected {
  background-color: var(--bg-hover-secondary);
  border: 1px solid var(--color-grey);
}
.audio-container .device:hover {
  background-color: var(--bg-hover-primary);
}

/* Power Menu */
.uptime {
  font-size: var(--text-xl);
  margin-bottom: 45px;
  color: var(--text-primary);
  font-weight: var(--font-bold);
}
.power-menu-popup {
  background-color: var(--bg-hover-fourth);
  border-radius: var(--radius-normal);
}
.power-menu-popup .button {
  padding: 0;
  width: 240px;
  height: 120px;
  border-radius: var(--radius-normal);
  background-color: var(--bg-hover-secondary);
  font-family: var(--font-name-primary);
  color: var(--text-primary);
  border: 1px solid var(--color-grey);
}
.power-menu-popup .button.hover {
  background-color: var(--bg-hover-primary);
  border: 1px solid var(--color-grey);
}
.power-menu-popup .button .label {
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
}
.power-menu-popup .button .icon {
  font-size: var(--text-5xl);
  padding-top: var(--md);
  padding-right: var(--lg);
}
.power-menu-popup .button.cancel .icon {
  color: var(--color-green);
}
.power-menu-popup .button.cancel .label {
  color: var(--color-green);
}
.power-menu-popup .button.shutdown .icon {
  color: var(--color-red);
}
.power-menu-popup .button.shutdown .label {
  color: var(--color-red);
}

/* Traffic */
.traffic-widget .icon.offline {
  color: var(--color-red);
}
.traffic-menu {
  background-color: var(--bg-primary);
  min-width: 320px;
}
.traffic-menu .header .title {
  padding: 14px;
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
}
.traffic-menu .header .reset-button {
  font-size: var(--text-small);
  padding: var(--padding-button);
  margin-right: 14px;
  border-radius: var(--radius-normal);
  font-weight: var(--font-bold);
  background-color: transparent;
}
.traffic-menu .reset-button:hover {
  color: #ffffff;
  background-color: var(--bg-hover-primary);
  border: 1px solid var(--color-grey);
}
/* Speed column styles */
.traffic-menu .download-speed,
.traffic-menu .upload-speed {
  background-color: transparent;
  padding: 10px;
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 16px;
  margin-bottom: 0;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}
.traffic-menu .download-speed {
  margin-left: 12px;
  margin-right: 12px;
}
.traffic-menu .speed-separator {
  max-width: 1px;
  background-color: transparent;
  margin: 32px 0 16px 0;
}
.traffic-menu .upload-speed-value,
.traffic-menu .download-speed-value {
  font-size: var(--text-3xl);
  font-weight: var(--font-bold-xl);
  color: var(--text-primary);
}
.traffic-menu .upload-speed-unit,
.traffic-menu .download-speed-unit {
  font-size: var(--text-normal);
  font-weight: var(--font-bold);
}
.traffic-menu .upload-speed-placeholder,
.traffic-menu .download-speed-placeholder {
  color: var(--text-secondary);
  font-size: var(--text-small);
  padding-bottom: 18px;
}

/* Section and data styles */
.traffic-menu .section-title {
  font-size: var(--text-small);
  font-weight: var(--font-bold);
  color: var(--text-primary);
  margin-bottom: 4px;
}
.traffic-menu .session-section,
.traffic-menu .today-section,
.traffic-menu .alltime-section {
  margin: 8px 8px 0 8px;
  padding: 0 10px 10px 10px;
  background-color: transparent;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}
.traffic-menu .data-text {
  font-size: var(--text-normal);
  color: var(--text-secondary);
  padding: var(--margin-small);
}
.traffic-menu .data-value {
  font-weight: var(--font-bold);
  font-size: var(--text-normal);
  padding: var(--margin-small);
}

/* Interface and Internet info styles */
.traffic-menu .interface-info {
  margin-top: 12px;
  /* background-color: var(--bg-hover-primary); */
  border-top: 1px solid var(--bg-hover-third);
}
.traffic-menu .interface-info,
.traffic-menu .internet-info {
  font-size: var(--text-small);
  color: var(--text-secondary);
  padding: 8px 0;
  font-family: var(--font-name-primary);
}
.traffic-menu .internet-info.connected {
  background-color: var(--color-dark-green);
  color: var(--color-light-green);
}
.traffic-menu .internet-info.disconnected {
  background-color: var(--color-dark-red);
  color: var(--color-light-red);
}

/* Taskbar */
.taskbar-widget {
  margin-left: 27px;
}
.taskbar-widget:hover {
  background-color: transparent;
}
.taskbar-widget .app-container {
  border-radius: var(--radius-normal);
  /* border-radius: 0; */
  padding: 0 7px;
  margin: 0 1px;
}
.taskbar-widget .app-container:hover {
  background-color: var(--bg-hover-primary);
}
.taskbar-widget .app-container.foreground {
  /* border-bottom: 2px solid var(--color-green); */
  background-color: var(--bg-hover-third);
}
.taskbar-widget .app-container.flashing {
  background-color: var(--color-red);
}
.taskbar-widget .app-container .app-title {
  padding-left: 4px;
}
/* Taskbar preview popup is very limited in styling options, do not use margins/paddings here */
.taskbar-preview {
  border-radius: var(--radius-normal);
  background-color: var(--bg-secondary);
  border: 1px solid var(--color-grey);
}
.taskbar-preview .header {
  padding-bottom: 18px;
}
.taskbar-preview .header .title {
  color: var(--text-primary);
  font-weight: var(--font-bold);
  font-size: var(--text-normal);
}

/* Systray */
.systray {
  background: transparent;
  border: none;
  margin: 0;
  background-color: transparent;
}
.systray:hover {
  background: transparent;
}
.systray .unpinned-container {
  border-radius: 0;
  /* background-color: transparent; */
  margin: 2px;
  padding: 0 4px;
  border-right: 1px solid var(--text-secondary);
  /* background-color: var(--bg-hover-primary); */
}
.systray .pinned-container {
  padding: 0 4px;
}
.systray .pinned-container:hover {
  background: transparent;
}
.systray .button {
  padding: 0px 4px;
  border-radius: var(--radius-normal);
  padding: 6px 6px;
  outline: none;
}
.systray .button:hover {
  background-color: var(--bg-hover-primary);
}
.systray .button[dragging="true"] {
  background-color: var(--bg-hover-primary);
  border-color: var(--color-green);
}
.systray .unpinned-visibility-btn {
  border-radius: 0px;
  height: 20px;
  width: 16px;
  outline: none;
}

/* Media */
.media-widget {
  margin: 4px 4px;
  padding: var(--padding-normal);
  border-radius: var(--radius-normal);
}
.media-widget .label {
  padding: 2px 10pxs;
  padding-right: 4px;
  font-size: var(--text-normal);
}
.media-widget .btn {
  color: var(--color-widget);
  padding: 0 4px;
  margin: 0;
  font-family: var(--font-name-primary);
  font-weight: var(--font-normal);
  font-size: var(--text-lg);
}
.media-widget .btn:hover {
  background-color: var(--bg-hover-third);
}
.media-widget .btn.play {
  font-size: var(--text-xl);
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: var(--color-light-grey);
  font-size: var(--text-normal);
}

/* Media Menu */
.media-menu {
  min-width: 450px;
  max-width: 450px;
  background-color: var(--bg-primary);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  margin-left: var(--md);
  font-family: var(--font-name-primary);
}
.media-menu .artist {
  font-size: var(--text-normal);
  color: var(--text-secondary);
  margin-top: 4px;
}
.media-menu .source {
  font-size: 11px;
  color: var(--text-secondary);
  border-radius: var(--radius-normal);
  background-color: var(--bg-hover-primary);
  padding: var(--padding-button);
  font-weight: var(--font-normal);
  font-family: var(--font-name-primary);
  margin-top: 10px;
}
.media-menu .btn {
  font-family: var(--font-name-primary);
  font-size: var(--text-2xl);
  font-weight: var(--font-normal);
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}
.media-menu .btn.prev {
  margin-left: 10px;
}
.media-menu .btn:hover {
  color: var(--text-primary);
  background-color: var(--bg-hover-third);
}
.media-menu .btn.play {
  background-color: var(--bg-hover-primary);
  font-size: var(--text-3xl);
}
.media-menu .btn.play:hover {
  background-color: var(--bg-hover-third);
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--color-light-grey);
  background-color: transparent;
}
.media-menu .playback-time {
  font-size: var(--text-normal);
  font-family: var(--font-name-primary);
  color: var(--text-secondary);
  margin-top: 20px;
  min-width: 100px;
}
.media-menu .progress-slider {
  height: 10px;
  margin: 10px 4px 14px 4px;
  border-radius: 2px;
}
.media-menu .progress-slider::groove {
  background: transparent;
  height: 4px;
  border-radius: 2px;
  background: var(--color-grey);
}
.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: var(--color-grey);
}
.media-menu .progress-slider::sub-page {
  background: var(--color-light-green);
  border-radius: 3px;
  height: 4px;
}
.media-menu .app-volume-container {
  background-color: var(--bg-hover-primary);
  padding: 8px 6px;
  border-radius: 16px;
  margin-left: 10px;
}
.media-menu .app-volume-container .volume-slider::groove {
  background: var(--bg-hover-primary);
  width: 4px;
  border-radius: 2px;
}
.media-menu .app-volume-container .volume-slider::add-page {
  background: var(--color-light-green);
  border-radius: 2px;
}
.media-menu .app-volume-container .volume-slider::groove:hover {
  background: var(--bg-hover-primary);
  width: 6px;
  border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::sub-page {
  background: var(--bg-hover-primary);
  border-radius: 3px;
}
.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
  font-size: var(--text-lg);
  color: var(--text-primary);
  font-family: var(--font-name-primary);
  margin-top: 4px;
}
.media-menu .app-volume-container .unmute-button {
  color: var(--text-secondary);
}

/* Todo */
.todo-menu {
  background-color: var(--bg-transparent);
  min-width: 400px;
  max-width: 400px;
  font-family: var(--font-name-primary);
}
.todo-menu .header {
  margin: var(--margin-sm);
}
.todo-menu .header .add-task-button {
  padding: var(--padding-button);
}
.todo-menu .header .add-task-button:hover {
  background-color: var(--bg-hover-primary);
}
.todo-menu .header .tab-buttons {
  padding: var(--padding-button);
}
.todo-menu .header .tab-buttons:hover {
  background-color: var(--bg-hover-primary);
}
.todo-menu .header .tab-buttons.in-progress {
  color: var(--color-light-green);
}
.todo-menu .header .tab-buttons.completed {
  color: var(--color-yellow);
}
.todo-menu .header .tab-buttons.in-progress:checked {
  background-color: var(--bg-primary);
}
.todo-menu .header .tab-buttons.completed:checked {
  background-color: var(--bg-primary);
}
.todo-menu .header .tab-buttons.sort:hover {
  background-color: var(--bg-hover-primary);
}
.todo-menu .header .tab-buttons.sort:pressed {
  background-color: #1d0c13;
}
/* todo-menu task item styles */
.todo-menu .task-item {
  margin: var(--margin-sm);
  padding: var(--md);
  border: 1px solid var(--text-primary);
  border-radius: var(--radius-normal);
}
.todo-menu .task-item:hover {
  background-color: var(--bg-hover-primary);
}
/* todo-menu task item styles based on category */
.todo-menu .task-item.important {
  border: 1px solid var(--color-light-red);
}
.todo-menu .task-item.urgent {
  border: 1px solid var(--color-yellow);
}
.todo-menu .task-item.soon {
  border: 1px solid var(--color-light-green);
}
.todo-menu .task-item.today {
  border: 1px solid var(--color-light-blue);
}
.todo-menu .task-checkbox {
  padding: var(--padding-normal);
  margin-right: var(--md);
  background-color: transparent;
  border: none;
}
.todo-menu .task-info-row .date-icon {
  margin: 0 var(--sm);
}
.todo-menu .task-info-row .category-icon {
  margin: 0 var(--sm);
}
.todo-menu .task-info-row .category-text.important {
  color: var(--color-light-red);
}
.todo-menu .task-info-row .category-icon.important {
  color: var(--color-light-red);
}
.todo-menu .task-info-row .category-text.urgent {
  color: var(--color-yellow);
}
.todo-menu .task-info-row .category-icon.urgent {
  color: var(--color-yellow);
}
.todo-menu .task-info-row .category-text.soon {
  color: var(--color-light-green);
}
.todo-menu .task-info-row .category-icon.soon {
  color: var(--color-light-green);
}
.todo-menu .task-info-row .category-text.today {
  color: var(--color-light-blue);
}
.todo-menu .task-info-row .category-icon.today {
  color: var(--color-light-blue);
}
.todo-menu .task-info-row .edit-task-button {
  padding: var(--padding-button);
}
.todo-menu .task-info-row .edit-task-button:hover {
  padding: var(--padding-button);
  background-color: var(--bg-hover-primary);
}
.todo-menu .task-info-row .delete-task-button {
  padding: var(--padding-button);
  background-color: var(--color-dark-red);
}
.todo-menu .task-info-row .delete-task-button:hover {
  padding: var(--padding-button);
  background-color: var(--color-light-red);
}
/* todo-menu dialog styles */
.todo-menu .app-dialog {
  background-color: var(--bg-transparent);
}
.todo-menu .app-dialog .buttons-container {
  background-color: var(--bg-transparent);
}
.todo-menu .app-dialog .title-field {
  background-color: var(--bg-transparent);
}
.todo-menu .app-dialog .desc-field {
  background-color: var(--bg-transparent);
}
.todo-menu .app-dialog .title-field:focus {
  background-color: var(--bg-transparent);
  border: 1px solid var(--text-primary);
  border-radius: var(--radius-normal);
}
.todo-menu .app-dialog .desc-field:focus {
  background-color: var(--bg-transparent);
  border: 1px solid var(--text-primary);
  border-radius: var(--radius-normal);
}
.todo-menu .app-dialog .buttons-container .button {
  padding: var(--padding-button);
}
.todo-menu .app-dialog .button {
  padding: var(--padding-button);
}
.todo-menu .app-dialog .button:hover {
  background-color: var(--bg-hover-primary);
}
.todo-menu .app-dialog .category-button {
  padding: var(--sm);
}
.todo-menu .app-dialog .category-button:hover {
  background-color: var(--bg-hover-primary);
}
.todo-menu .app-dialog .category-button:checked {
  background-color: var(--bg-primary);
}
.todo-menu .app-dialog .category-button.urgent {
  color: var(--color-yellow);
}
.todo-menu .app-dialog .category-button.soon {
  color: var(--color-light-green);
}
.todo-menu .app-dialog .category-button.today {
  color: var(--color-light-blue);
}
.todo-menu .app-dialog .category-button.important {
  color: var(--color-light-red);
}

/* Visual Studio Code */
.vscode-widget {
  color: #89b4fa;
}
.vscode-menu {
  background-color: var(--bg-transparent);
}
.vscode-menu .header {
  margin: var(--md);
}
.vscode-menu .contents {
  background-color: var(--bg-transparent);
}
.vscode-menu .contents .item {
  background-color: var(--bg-transparent);
  padding: var(--lg);
  margin: var(--margin-sm);
  border: 1px solid var(--bg-hover-primary);
  border-radius: var(--radius-normal);
}
.vscode-menu .contents .item:hover {
  background-color: var(--bg-hover-primary);
}
.vscode-menu .contents .item .title {
  padding: var(--md) 0;
}
.vscode-menu .contents .item .modified-date {
  padding: var(--md) 0;
}
.vscode-menu .contents .item .folder-icon {
  padding: var(--md);
  margin: var(--md) var(--sm);
}
.vscode-menu .contents .item .file-icon {
  padding: var(--md);
  margin: var(--md) var(--sm);
}

/* Language */
.language-menu {
  background: var(--bg-transparent);
}
.language-menu .header {
  margin: var(--md);
}
.language-menu .footer {
  margin: var(--md);
}
.language-menu .language-item {
  border: 1px solid var(--bg-hover-primary);
  border-radius: var(--radius-normal);
  background-color: var(--bg-transparent);
  padding: var(--lg);
  margin: var(--margin-sm);
}
.language-menu .language-item:hover {
  background: var(--bg-hover-primary);
}
.language-menu .language-item.active {
  background-color: var(--bg-hover-primary);
}
.language-menu .language-item .icon {
  margin: 0 var(--md) 0 0;
}
