.menupopup-arrowscrollbox {
  background-color: var(--lwt-accent-color) !important;
  color: var(--rose-quartz-foreground);
  border-radius: 0px !important;
}

#ContentSelectDropdownPopup > menuitem {
  color: var(--rose-quartz-foreground) !important;
}

#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) {
  background: linear-gradient(
    to right,
    var(--button-bgcolor) 49%,
    transparent
  ) !important;
  color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}
